<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %} {% endblock %}">
    <meta name="keywords" content="{% block keywords %} {% endblock %}">
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>

    <title>{% block title %} {% endblock %}</title>

</head>

<body>
    {% block search %}
    <div id="search-input">
        <form action="/product/" method="get">
            <img src="{% static '/images/search.png' %}" alt="" onclick=openSearch() class="icon-img search">
            <input type="text" id="header-input" onkeyup=suggestText() value="" name="product" placeholder="Try 'acer'">
            <button type="submit"><img src="{% static '/images/next.png' %}" id="header-submit" class="icon-img"
                    alt=""></button>
            <img src="{% static '/images/close.png' %}" alt="" onclick=closeSearch() class="icon-img search">
        </form>
        <div id="suggestion">
            <ul>
                
            </ul>
        </div>
    </div>
    <div id="menu-drawer">
        <ul id="menu-items">
            <li class="close-item"><a href="javascript:void(0)" class="menu-close" onclick=closeMenu()><img
                        src="{% static '/images/close.png' %}" alt=""></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/profile">Orders</a></li>
            <li>{% if user.is_authenticated %}<a href="/logout">Logout</a>{% else %}<a href="/login">Login</a>{% endif %}</li>
        </ul>
    </div>
    {% endblock %}

    {% block header %}

    <!-- header -->
    <div id="header">
        <h3><a href="/" class="logo">{{logo}}</a></h3>
        <div id="mob-nav">
            <ul>
                <li><img src="{% static '/images/search.png' %}" alt="" onclick=openSearch() class="icon-img search"></li>
                <li><a href="/profile"><img src="{% static '/images/user.png' %}" alt="" class="icon-img"></a></li>
                <li><a href="/cart"><img src="{% static '/images/cart.png' %}" alt="" class="icon-img"></a></li>
                <li><img src="{% static '/images/menu.png' %}" alt="" onclick=openMenu() class="icon-img"></li>
            </ul>
        </div>
    </div>

    {% endblock %}

    <section class="site-content">
        {% block content %}
        
        {% endblock %}
    </section>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', "/get-csrf-token/", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    localStorage.setItem('csrfToken', data.csrfToken);
                }
            }
            xhr.send();
        });

    </script>

{% block footer %}

{% endblock %}
</body>

</html>