{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="cart-container">
    {% for product in cartDict %}
   
    <div class="cart-product">
        <img src="/media/{{product.image}}" alt="" class="product-img"/>
        <div class="cart-details">
            <p>{{product.name|truncatewords_html:10}}</p>
            <div class="modify-action-btns">
                <div class="modify-quantity"> 
                    <button type="button" id="sub-{{product.id}}" class="quantity-btn add-quantity" onclick="subQuantity({{product.id}},{{product.price}})">-</button>
                    <input type="number" id="product-{{product.id}}" class="quantity" name="quantity" value="{{product.quantity}}" readonly>
                    <button type="button" id="add-{{product.id}}" class="quantity-btn sub-quantity" onclick="addQuantity({{product.id}},{{product.price}})">+</button>
                </div>     
                <input type="number" class="product-price price" name="amount" value="{{product.tot_price}}" id="tot_price-{{product.id}}" readonly>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="checkout-actions">
    <a href="#"><button id="cancel-btn" onclick="cancelBtn()">Cancel</button></a>
    <a href="/checkout" onclick="createOrder()"><button id="checkout-btn">Checkout</button></a>
</div>
{% endblock %}


<script>
    function createOrder(){
        var abc = document.getElementsByClassName("quantity");
        console.log(abc);
    }
</script>