<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <!-- header -->
    <div id="header">
        <div class="logo">{% if user.is_authenticated %}{{user.username}}{% else %}{{logo}}{% endif %}</div>
        <div id="mob-nav">
            <ul>
                <li><a href="/logout"><img src="{% static '/images/logout.png' %}" alt="logout" class="icon-img search"></a></li>
                
            </ul>
        </div>
    </div>


    {% if user.is_authenticated %}
        <h2>checkout</h2>
        <h2>{{id}}</h2>

    <div id="checkout-form">
        <form action="/create-order-item/" method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{product.id}}">
            <div class="product-card">
                <a href="#"><img src="{% static '/images/heart.png' %}" alt="" class="icon-img like-img"></a>
                <a href="#"><img src="{% static '/images/heart-like.png' %}" alt="" class="icon-img like-img like-pink"></a>
                <img src="/media/{{product.image}}" alt="" class="product-img">
                <div class="product-details">
                    <p class="product-name">{{product.name}}</p>
                    <p class="product-desc">{{product.desc}}</p>
                    <p class="product-price">{{product.price}}/-</p>

                </div>
            </div>
        
            <button class="submit-btn" type="submit">Buy</button>
        </form>
    </div>

    
    {% endif %}

</body>
</html>