
{% load static %}
{% block footer %}

<div id="footer">
    <h2>SUBSCRIBE TO OUR LATEST COLLECTIONS</h2>
    <div id="signup-form">
        <input type="email" placeholder="Enter your email id">
        <button type="submit">SUBMIT<img src="{% static '/images/next.png' %}" class="icon-img" alt=""></button>
    </div>
    <div id="footer-content">
        <div class="logo content">LOGO</div>
        <div class="footer-links content">
            <ul>
                <li>
                    <h3>Collections</h3>
                </li>
                <li><a href="javascript:void(0)">Mens</a></li>
                <li><a href="javascript:void(0)">Womens</a></li>
                <li><a href="javascript:void(0)">Kids</a></li>
                <li><a href="javascript:void(0)">Party</a></li>
                <li><a href="javascript:void(0)">Winter</a></li>
                <li><a href="javascript:void(0)">Summer</a></li>
            </ul>
        </div>
        <div class="contact content">
            <ul>
                <li>
                    <h3>Developer Contact</h3>
                </li>
                <li><a href="ttps://www.linkedin.com/in/tushar-dasare-107989200"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://github.com/tushar0107"><i class="fa-brands fa-github"></i> Github</a></li>
                <li><a href="mailto:tushardasare1701@gmail.com"><i class="fa-solid fa-envelope"></i> Email</a></li>
                <li><a href="tel:7304431820"><i class="fa-solid fa-phone"></i> +91 7304431820</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}