{% extends "base.html" %}
{% load static %}

{% block description %} {{'description'}} {% endblock %}
{% block keywords %} {{'keywords'}} {% endblock %}

{% block title %}{{search}}{% endblock %}

{% block content %}

    <!-- products here -->
    <h4 class="product-count">{{num_of_products}} products for '{{search}}'</h4>
    {% if products %}
    <div id="product-container">
        {% for product in products %}

        <a href="/product/{{product.get_absolute_url}}" class="product-card">
            <img src="/media/{{product.image}}" alt="" class="product-img">
            <div class="product-details">
                <span class="product-name">{{product.name|truncatewords_html:25}}</span>
                <!-- <p class="product-desc">{{product.desc|truncatewords_html:15}}</p> -->
                <p class="product-price">{{product.price}}/-</p>
                <!-- <div class="prod-btns">
                    <button class="cart-btn-outline" onclick="submitCart('{{user.id}}','{{product.id}}')"><i class="fa-solid fa-cart-plus"></i></button>
                    <button class="like-btn btn" onclick="gotoProduct('{{product.id}}')"><i class="fa-regular fa-heart"></i></button>
                </div> -->
            </div>
        </a>
        {% endfor %}
    </div>
        {% else %}
        <h3 class="not-found">Ohh!! We currently don't have any products for '{{search}}'.</h3>
        {% endif %}
 
    <script>

        
            function submitCart(user='None',product_id){
                if(user!='None'){
                    console.log('submitting form with', user, product_id);
                    var xhr = new XMLHttpRequest();
                    var csrfToken = localStorage.getItem('csrfToken');

                    var formData = new FormData();
                    formData.append('csrfmiddlewaretoken',csrfToken);
                    formData.append('user_id',user);
                    formData.append('product_id',product_id);

                    xhr.onreadystatechange = function(){
                        if (xhr.readyState === XMLHttpRequest.DONE){
                            if( xhr.status === 200){
                                alert(`${JSON.parse(xhr.responseText).message}`);
                            }else{
                                console.error('Error', xhr.status);
                            }
                        }
                    };

                    xhr.open('POST', '/update-cart/', true);
                    xhr.send(formData);
                }else{
                    alert('Please Login');
                }
            }

            function gotoProduct(id){
                console.log('sgdgd',id);
                window.location.href= `/product/${id}`;
            }
        
    </script>
 
{% endblock %}


