{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- products here -->
    <div id="product-container">
        {% for product in products %}
        <div class="product-card">
            <a href="#"><img src="{% static '/images/heart.png' %}" alt="" class="icon-img like-img"></a>
            <a href="#"><img src="{% static '/images/heart-like.png' %}" alt="" class="icon-img like-img like-pink"></a>
            <img src="/media/{{product.image}}" alt="" class="product-img">
            <div class="product-details">
                <p class="product-name">{{product.name}}</p>
                <p class="product-desc">{{product.desc}}</p>
                <p class="product-price">{{product.price}}/-</p>
                <div class="btns">
                    <button><img src="{% static '/images/addcart.png' %}" alt="" class="icon-img"></button>
                    <button>Buy</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 
 
{% endblock %}


