<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <div id="search-input">
        <form action="/product/" method="get">
            <img src="{% static '/images/search.png' %}" alt="" onclick=openSearch() class="icon-img search">
            <input type="text" id="header-input" onkeyup=suggestText() value="" name="product" placeholder="Search..">
            <button type="submit"><img src="{% static '/images/next.png' %}" id="header-submit" class="icon-img"
                    alt=""></button>
            <img src="{% static '/images/close.png' %}" alt="" onclick=closeSearch() class="icon-img search">
        </form>
        <div id="suggestion">
            <span>Try 'acer'</span>
            <ul>
                
            </ul>
        </div>
    </div>
    <div id="menu-drawer">
        <ul id="menu-items">
            <li><a href="javascript:void(0)" class="menu-close" onclick=closeMenu()><img
                        src="{% static '/images/close.png' %}" alt=""></a></li>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
            <li><a href="#">Item 5</a></li>
        </ul>
    </div>
    <!-- header -->
    <div id="header">
        <h3 class="logo">{% if user.is_authenticated %}{{user.first_name}} {{user.last_name}}{% else %}Login or Sign Up{% endif %}</h3>
        <div id="mob-nav">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="/logout"><img src="{% static '/images/logout.png' %}" alt="logout" class="icon-img search"></a></li>
                {% endif %}
                <li><a href="/cart"><img src="{% static '/images/cart.png' %}" alt="" class="icon-img"></a></li>
                <li><img src="{% static '/images/menu.png' %}" alt="" onclick=openMenu() class="icon-img"></li>
                
            </ul>
        </div>
    </div>
    
   
    {% if user.is_authenticated %}
        <div id="profile-container">
            <div id="profile-head">
                <img src="{% static '/images/user.png' %}" alt="profile" id="profile-img"/>
            </div>
            <div id="profile-card">
                <h2>{{user.first_name}} {{user.last_name}}</h2>
                <h2>{{user.username}}</h2>
            </div>
        </div>
        <div id="user-details">
            <address><strong>Address: </strong>{{customer.plot_no}}, {{customer.streetaddr}}, {{customer.city}}-{{customer.pincode}}</address>
        </div>
        <div id="order-details">
            <h4>Your Orders:</h4>
            {%for order in orders%}
            <div class="order-card">
                Order Delivering at:
                <address>
                    {{order.delivery_address}}
                </address>
                <p>
                    Total Price: <strong>{{order.total_price}}/-</strong>
                </p>
                <p>
                    Payment: <strong>{{order.payment_mode}}</strong>  Payment status: <strong>{{order.payment_status}}</strong>
                </p>
                <p>
                    Order status: <strong>{{order.order_status}}</strong>
                </p>

            </div>

            {% endfor %}
            
        </div>
    {% else %}
           
            <div id="login-modal">
                <h3>Login</h3>
                <form action="/login/" method="POST">
                    {%for message in messages%}
                    <span>{{message}}</span>
                    {% endfor %}
                    {% csrf_token %}
                    <input type="number" name="username" placeholder="Enter mobile" required/>
                    <label for="password" class="password-toggle">
                        <input type="password" name="password" id="password" class="password input" placeholder="Enter Password" required/>
                        <img src="{% static '/images/view.png' %}" alt="" class="icon-img view" id="pass-eye" onclick=togglePassword(false)>
                        <img src="{% static '/images/hide.png' %}" alt="" class="icon-img hide" id="pass-hide" onclick=togglePassword(true)>
                    </label>
                    <button type="submit" class="btn submit btn-blue">Login</button>
                    <h3>OR</h3>
                    <button type="button" class="sign-up-btn btn btn-blue" id="sign-up-show">Sign Up</button>
                </form>
            </div>

    {% endif %}
    <div id="register-modal">
        <h3>Sign Up</h3>
        <form action="/register/" method="POST">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="number" name="username" placeholder="Enter Mobile" required/>
            <input type="email" name="email" placeholder="Email" required>
            <label for="password" class="password-toggle">
                <input type="password" name="password" id="reg-password" class="password input" onkeyup="checkpass()" placeholder="Enter Password" required/>
                <img src="{% static '/images/view.png' %}" alt="" class="icon-img view" id="reg-pass-eye" onclick=toggleRegisterPassword(false)>
                <img src="{% static '/images/hide.png' %}" alt="" class="icon-img hide" id="reg-pass-hide" onclick=toggleRegisterPassword(true)>
            </label>
            <small id="err-text">Passwords doesn't match</small>
            <label for="password" class="password-toggle">
                <input type="password" name="password" id="reg-conf-password" class="password input" onkeyup="checkpass()" placeholder="Confirm Password" required/>
                <img src="{% static '/images/view.png' %}" alt="" class="icon-img view" id="conf-pass-eye" onclick=toggleRegisterConfirmPassword(false)>
                <img src="{% static '/images/hide.png' %}" alt="" class="icon-img hide" id="conf-pass-hide" onclick=toggleRegisterConfirmPassword(true)>
            </label>
            <button type="submit" id="submit-btn" class="submit btn btn-blue" disabled>Submit</button>
            <h3>OR</h3>
            <button type="button" id="login-show" class="btn btn-blue">Login</button>
        </form>
    </div>

    <script>
        const signUpBtn = document.getElementById('sign-up-show');
        const loginBtn = document.getElementById('login-show');
        const confPass = document.getElementById('reg-conf-password');
        const pass = document.getElementById('reg-password');
        const errText = document.getElementById('err-text');
        const submitBtn = document.getElementById('submit-btn');

        signUpBtn.addEventListener('click', function(){
            document.getElementById('register-modal').style.display = 'block';
            document.getElementById('login-modal').style.display = 'none';
        });
        loginBtn.addEventListener('click', function(){
            document.getElementById('register-modal').style.display = 'none';
            document.getElementById('login-modal').style.display = 'block';
        });
        
        function checkpass(){
            if(pass.value!=confPass.value){
                errText.style.display = 'block';
                submitBtn.disabled = true;
            }else{
                errText.style.display = 'none';
                submitBtn.disabled = false;
            }
        }
        document.addEventListener('DOMContentLoaded', function(){

            // to set csrf value of the input fields
            // since csrf token is already fetched at the beginning
            // this input values should also have the same csrf token
            document.querySelectorAll('input[type=hidden]')[0].setAttribute('value',document.cookie.split('csrftoken=')[1]);
        });

    </script>

</body>
</html>