{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- page content -->

    <div id="page-content">
        <!-- banner -->
        <div id="page-banner-container">
            <div class="banner">
                <img src="{% static '/images/banner1.jpg' %}" alt="" class="banner-img">
                <img src="{% static '/images/banner1.jpg' %}" alt="" class="banner-img">
                <img src="{% static '/images/banner1.jpg' %}" alt="" class="banner-img">
            </div>
        </div>

        <!-- home featured products -->
        <div id="featured-products-container">
            <h2>Featured Products</h2>
            <div id="featured-products">
                <div class="featured-product-card">
                    <img src="{% static '/images/fashion-women.jpg' %}" class="featured-product-img" alt="">
                    <div class="featured-text">
                        <span>Womens</span>
                    </div>
                </div>
                <div class="featured-product-card">
                    <img src="{% static '/images/fashion-men.jpeg' %}" class="featured-product-img" alt="">
                    <div class="featured-text">
                        <span>Mens</span>
                    </div>
                </div>
                <div class="featured-product-card">
                    <img src="{% static '/images/fashion-kid.jpeg' %}" class="featured-product-img" alt="">
                    <div class="featured-text">
                        <span>Kids</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
