<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="shortcut icon" href="{% static '/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>

</head>

<body>



</body>

</html>